.quote__card {
  width: 400px;

}
.quote__card__text{
  min-height: 200px;
  text-align: left;
  font-size: 16px !important;
}
.quote__card__actions {
  background: #ccc;
}
.quote__author {
  margin-top: 20px;
  text-align: right;
}