.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.app__sidebar {
  text-align: left;
}
.app__content {
  margin: 20px auto;
  padding: 5px;
  overflow: auto;
  display: flex;
  flex: 1;

}
.app__sidebar__link {
  position: relative; 
  display: block;
  padding-left: 16px; 
  letter-spacing: 0px; 
  text-transform: uppercase; 
  text-decoration: none;
  font-weight: 500; 
  font-size: 14px;
  color: black;
  width: 100%;
}
.app__sidebar__link:hover {
  color: #676767;
}
